
 <md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <h2>
      <span>List Maps</span>
    </h2>
  </div>
  </md-toolbar>
  <md-content layout="row" layout-fill>
    <div flex='10'>


    </div>
    <div flex='80'>

      <md-content>

        <md-list>
          <md-subheader class="md-no-sticky">{{vm.files.length}}</md-subheader>
          <md-item class="md-3-line" ng-repeat="item in vm.files">
            <div class="md-item-text">
              <h3>{{ item.origin }}</h3>
              <h4>{{ item.value.length }}</h4>
            </div>
          </md-item>
        </md-list>

      </md-content>


    </div>
    <div flex='10'>

    </div>

  </md-content>

