
   <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings">
        <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
      </md-button>
      <h2>
        <span>Encontre o caminho</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Favorite">
        <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="More">
        <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout-fill>

  <form ng-submit="$event.preventDefault()">
 ex: 'ah'
      <md-autocomplete id="from"
          ng-disabled="vm.origin.isDisabled"
          md-no-cache="true"
          md-selected-item="vm.origin.selectedItem"
          md-search-text="vm.origin.searchText"
          md-items="item in vm.origin.querySearch(vm.origin.searchText)"
          md-item-text="item.key"
          placeholder="origin">
        <span md-highlight-text="vm.origin.searchText" md-highlight-flags="^i">{{item.key}}</span>
      </md-autocomplete>
      <br/>

 ex: 'hvl'
      <md-autocomplete id="to"
          ng-disabled="vm.destiny.isDisabled"
          md-no-cache="true"
          md-selected-item="vm.destiny.selectedItem"
          md-search-text="vm.destiny.searchText"
          md-items="item in vm.destiny.querySearch(vm.destiny.searchText)"
          md-item-text="item.key"
          placeholder="destiny">
        <span md-highlight-text="vm.destiny.searchText" md-highlight-flags="^i">{{item.key}}</span>
      </md-autocomplete>
      <br/>

      <md-input-container>
        <label>Km/l</label>
        <input ng-model="vm.mkl">
      </md-input-container>
      <md-button ng-click='vm.findPath()' class="md-raised">Buscar</md-button>

      <label md-highlight-text="path">Caminho: </label>{{vm.way}}


  </form>

  </md-content>
